.titlebar{
  width:800px;
  height:600px
}
.titles{
  float:left;
  width:100%
}
.titles p{
  width:80px;
  height:30px;
  float:left;
}
.edit{
  border:0px;
  border-top:1px solid gray;
  width:800px;
  height:500px;
}
.opt{
  margin-top:-20px;
  float:left;
  position:absolute;
  width:100%;
  height:100px
 }
.files{
  display:none;
  float:left;
  width:70px;
  margin-left:10px;
  background-color:#ccc;
  position:absolute;
}
.edits{
  display:none;
  float:left;
  width:70px;
  margin-left:100px;
  position:absolute;
  background-color:#ccc
}
.forms{
  display:none;
  float:left;
  width:70px;
  margin-left:180px;
  background-color:#ccc;
  position:absolute;
}
.views{
  display:none;
  float:left;
  width:70px;
  margin-left:269px;
  background-color:#ccc;
  position:absolute;

}
.helps{
  display:none;
  float:left;
  width:80px;
  margin-left:340px;
  background-color:#ccc;
  position:absolute;
}
.notepad-dlg-font {
  width:250px;
height:400px;
position:absolute;
margin-top:-500px;
margin-left:200px;
border:1px solid blue;
}
.notepad-dlg-font .main .font-family,
.notepad-dlg-font .main .font-style {
  display: inline-block;
  margin-right: 16px;
}

.notepad-dlg-font .main .sample {
  border-color: white;
  height: 78px;
  margin-top: 28px;
  width: 194px;
}

.notepad-dlg-font .main .script {
  margin-top: 12px;
}

.notepad-dlg-font .main select {
  height: 22px;
  width: 214px;
}
.notepad-dlg-font .main .font-size {
  display: inline-block;
}

.notepad-dlg-font .main .btn-ok {
  bottom: 10px;
  position: absolute;
  right: 110px;
}

.notepad-dlg-font .main .btn-cancel {
  bottom: 10px;
  position: absolute;
  right: 16px;
}
.notepad-dlg-font .dialogbox .title{
  margin-right:200px;
